*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body,
.result-section,
.bottom-section{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgb(245, 198, 127);
}

img {
    max-height: 200px;
    max-width: 200px;
}

/* Header section */
.heading {
    margin: 100px 50px 25px;
    font-size: 75px;
    font-weight: bold;
    text-align: center;
}

/* Display Result section */
.result-section {
    align-items: center;
    margin-bottom: 50px;
}

#result-statement, 
#scores {
    font-size: 30px;
}

/* Main section */
.main-container{
    display: flex;
    gap: 120px;
    justify-content: center;
}

.humanSide, .computerSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 200px;
}

.humanSide p,
.computerSide p{
    padding-top: 25px;
    font-size: 18px;
    font-weight: 300;
    width: 300px;
}

/* Bottom Section (User buttons) */
.bottom-section {
    align-items: center;
    margin-top: 100px;
}

#button-Container {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}
#button-Container button {
    background-color: rgb(245, 198, 127);
    border: 0px;
}

#button-Container button img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(255, 222, 171);
    border: 1px solid rgba(112, 112, 112, 0.481);
}

#reset-container button{
    width:50px;
    height: 20px;
    background-color: blanchedalmond;
    border: 10em;
    border: 1px solid black;
    margin-top: 20px;
}