* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body,
.main-container,
.result-box,
#reset-container
{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color:blanchedalmond
}

/* Title */
.heading{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 70px;
    margin-top: 50px;
}

/* Buttons section */
.main-container{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 150px 0px;
    gap: 200px;
}

#humanSide{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

#computerSide{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Removes background and border of button-img */
.main-container button {
    background-color: blanchedalmond;
    border: 0;
}

.main-container button img,
#computerSide img{
    background-color: blanchedalmond;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* Results section */
.result-box{
    font-size: 40px;
    margin: 50px;
}

/* Reset btn section */
#reset-container{
    justify-content: center;
    margin: auto;
    width: 100px;
}

#reset-container button {
    height: 50px;
    width: 100px;
    border-radius: 1em;
    font-size: 25px;
}